body {
  background-color: #191919;
}

img {
  height: 60%;
  width: 60%;
  margin: auto;
  display: flex;
}

h1 {
  color: #0A95FF;
  display: flex;
  justify-content: center;
  font-family: 'Bangers', cursive;
  font-size: 3.5em;
  text-shadow: 1px 1px #000000;
}
